<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Whisper Web</title>
    <link href="/static/style/daisyui4.css" rel="stylesheet" type="text/css" />
    <link href="/static/style/main.css" rel="stylesheet" type="text/css" />
    <link href="/static/style/page/whisper.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="app">
        <div class="drawer">
            <input id="my-drawer" type="checkbox" class="drawer-toggle" />
            <div class="drawer-content">
                <div class="navbar">
                    <div class="flex-none">
                        <label for="my-drawer" class="btn btn-square btn-ghost">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                class="inline-block w-5 h-5 stroke-current">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M4 6h16M4 12h16M4 18h16"></path>
                            </svg>
                        </label>
                    </div>
                    <div class="flex-1">
                        <a href="/" class="btn btn-ghost normal-case text-xl">Whisper Web</a>
                    </div>
                    <div class="flex-none">
                        <ul class="menu menu-horizontal px-1">

                        </ul>
                    </div>
                </div>

                <div id="main" class="main">
                    <div class="w-full mt-5">
                        <div class="flex w-full">
                            <!-- 左侧任务区域 -->
                            <div class="w-50">

                                <div class="input-area">
                                    <div class="w-50">
                                        <div class="form-control">
                                            <label class="label cursor-pointer">
                                                <span class="label-text mr-5">音频类型：</span>
                                                <!-- <span class="mr-2">在线录音</span>
                                                <input v-model="recorder.method" type="radio" name="inputType" value="1"
                                                    class="radio mr-5" /> -->
                                                <span class="mr-2">音频文件</span>
                                                <input v-model="recorder.method" type="radio" name="inputType" value="2"
                                                    class="radio" />
                                            </label>
                                        </div>
                                        <div class="input-main-body mt-3">
                                            <label v-if="recorder.method == 1" class="swap">
                                                <input type="checkbox" />
                                                <div @click="stopRecord" class="btn btn-success swap-off">开启录音</div>
                                                <div @click="startRecord" class="btn btn-error swap-on">关闭录音</div>
                                            </label>
                                            <form v-else>
                                                <input id="inferFile" type="file"
                                                    class="file-input file-input-bordered w-full" accept="audio/mp3"
                                                    :disabled="result.isRun" />
                                            </form>
                                        </div>
                                    </div>
                                    <div class="divider divider-horizontal">AND</div>
                                    <div class="w-50">
                                        <div class="form-control">
                                            <label class="label cursor-pointer">
                                                <span class="label-text"><b>模型规模：</b></span>
                                            </label>
                                        </div>
                                        <select class="select select-bordered w-full mt-3" :disabled="result.isRun">
                                            <option selected>small</option>
                                            <option>medium</option>
                                        </select>
                                    </div>

                                </div>
                                <div class="flex-center w-full mt-5">
                                    <div v-if="result.isRun" class="btn btn-primary" disabled>进行推断</div>
                                    <div v-else @click="request('infer')" class="btn btn-primary">进行推断</div>
                                </div>

                                <div v-if="result.isRun" class="flex w-full mt-5">
                                    <progress class="progress w-100"></progress>
                                </div>

                                <div class="delimiter"></div>

                                <div id="resultPanel" class="result-panel">
                                    <div v-if="result.isHave" class="result-panel-wrap rounded-box">
                                        <div class="chat chat-start">
                                            <div class="chat-header">
                                                原始录音
                                            </div>
                                            <div class="chat-bubble flex place-items-center"
                                                v-html="'<audio src=' + result.sourceAudio + ' controls>'"></div>
                                        </div>
                                        <div class="chat chat-start">
                                            <div class="chat-header">
                                                音频文本
                                            </div>
                                            <div class="chat-bubble flex place-items-center" v-text="result.audioText">
                                            </div>
                                        </div>
                                    </div>
                                    <img v-else src="/static/images/no-content.png" />
                                </div>
                            </div>

                            <div class="divider divider-horizontal">AND</div>

                            <!-- 右侧列表区域 -->
                            <div class="grid flex-grow card rounded-box w-50">
                                <ul id="resultPanelSegments" class="timeline timeline-vertical overflow-auto">
                                    <li v-for="item in result.textSpans">
                                        <div class="timeline-start">
                                            <span v-text="item.start"></span>
                                            -
                                            <span v-text="item.end"></span>
                                        </div>
                                        <div class="timeline-middle">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                fill="currentColor" class="w-5 h-5">
                                                <path fill-rule="evenodd"
                                                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                                                    clip-rule="evenodd" />
                                            </svg>
                                        </div>
                                        <div class="timeline-end timeline-box" v-text="item.text"></div>
                                        <hr />
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

                <canvas class="particle-background"></canvas>
            </div>


            <div class="drawer-side">
                <label for="my-drawer" class="drawer-overlay"></label>
                <ul class="menu p-4 w-80 min-h-full bg-base-100 text-base-content">
                    <li><a href="/whisper">whisper 音频转文本</a></li>
                </ul>
            </div>

        </div>

        <div v-if="alert.isShow" class="alert-wrap">
            <div class="alert shadow-lg" :class="'alert-' + alert.type">
                <div>
                    <svg v-if="alert.type === 'error'" xmlns="http://www.w3.org/2000/svg"
                        class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    <span v-text="alert.msg"></span>
                </div>
            </div>
        </div>
    </div>


    <script src="/static/script/daisyui.min.js"></script>
    <script src="/static/script/particles.min.js"></script>
    <script src="/static/script/jquery.min.js"></script>
    <script src="/static/script/vue.min.js"></script>
    <script src="/static/script/recorder/recorder-core.js"></script>
    <script src="/static/script/recorder/extensions/lib.fft.js"></script>
    <script src="/static/script/recorder/engine/wav.js"></script>
    <script src="/static/script/pages/whisper.js"></script>
</body>

</html>